[package]
name = "vangers"
version = "0.1.0"
authors = ["kvark"]

[workspace]
members = [
    "lib/m3d",
    "lib/splay",
    "lib/tiff",
]

[lib]

[[bin]]
name = "road"
path = "bin/road/main.rs"

[[bin]]
name = "car"
path = "bin/car/main.rs"

[[bin]]
name = "model"
path = "bin/model/main.rs"

[[bin]]
name = "level"
path = "bin/level/main.rs"

[[bin]]
name = "convert"
path = "bin/convert/main.rs"

[dependencies]
# internals
m3d = { path = "lib/m3d" }
splay = { path = "lib/splay" }
tiff = { path = "lib/tiff" }
# library
byteorder = "1.0"
cgmath = "0.15"
gfx = "0.17"
log = "0.4"
png = "0.13"
rand = "0.4"
rayon = "0.9"
ron = "0.4"
rust-ini = "0.10"
serde = "1.0"
serde_derive = "1.0"
serde_scan = "0.1"
# binaries
env_logger = "0.4"
getopts = "0.2"
gfx_device_gl = "0.15"
gfx_window_glutin = "0.20"
glutin = "0.12"
image = "0.20"
