[package]
name = "vangers"
version = "0.1.0"
authors = ["kvark"]

[workspace]
members = [
    "lib/splay",
]

[lib]

[[bin]]
name = "road"
path = "bin/road/main.rs"

[[bin]]
name = "car"
path = "bin/car/main.rs"

[[bin]]
name = "model"
path = "bin/model/main.rs"

[[bin]]
name = "level"
path = "bin/level/main.rs"

[[bin]]
name = "convert"
path = "bin/convert.rs"

[dependencies]
# internals
splay = {path = "lib/splay"}
# library
byteorder = "1.0"
cgmath = "0.13"
gfx = "0.16"
log = "0.3"
rayon = "0.9"
rust-ini = "0.10"
serde = "1.0"
serde_derive = "1.0"
serde_scan = "0.1"
toml = "0.4"
# binaries
env_logger = "0.4"
getopts = "0.2"
gfx_device_gl = "0.14"
gfx_window_glutin = "0.19"
glutin = "0.11"
