(
	data_path: "",
	// "/opt/gog/Vangers/game" #Linux (example)
	// "/Applications/GOG/Vangers.app/Contents/Resources/game" #OSX
	game: (
		level: "Fostral", // see `wrlds.dat` for the list
		cycle: "Eleerection", // see `bunches.prm` for the list, leave empty for bonus worlds
		view: Perspective, // can be "Flat" or "Perspective"
		camera: (
			angle: 60,
			height: 210,
			offset: 140,
			speed: 1,
			depth_range: (10, 2000),
		),
		other: (
			count: 10, // number of NPC vangers
			spawn_at: Random, // Player
		),
		physics: (
			max_quant: 0.1,
			shape_sampling: 0,
			gpu_collision: None,
			//Some((
			//	max_objects: 100,
			//	max_polygons_total: 1000,
			//	max_raster_size: (100, 100),
			//)),
		),
	),
	car: (
		id: "OxidizeMonk",
		// "IronShadow",
		color: Green, // Dummy, Red, Blue, Yellow, Gray
		slots: [],
		//slots: ["HeavyLaser", "LightMissile", "LightFireBall"],
		pos: None,
		//pos: Some((1300, 450)),
	),
	window: (
		title: "Rusty Road",
		size: (1280, 800),
		reload_on_focus: false,
	),
	backend: Auto, // Auto, Vulkan, Metal, DX12, GL
	render: (
		wgpu_trace_path: "",
		allow_tearing: false,
		light: (
			pos: (1, 2, 4, 0), // w=0 for directional, w=1 for point light
			color: (1, 1, 1),
			shadow: (
				size: 1024,
				terrain: RayTraced,
			),
		),
		fog: (
			color: (0.1, 0.2, 0.3),
			depth: 50,
		),
		terrain: RayTraced,
		// RayTraced,
		// RayMipTraced (mip_count: 10, max_jumps: 25, max_steps: 100, debug: false),
		// RayVoxelTraced( voxel_size: (2, 8, 2), ),
		// Scattered( density: (2, 2, 2) ),
		// Sliced,
		// Painted,
		water: (),
		debug: (
			max_vertices: 512,
			collision_shapes: false,
			collision_map: false,
			impulses: false,
		),
	),
	ui: (
		enabled: true,
		frame_history: 50,
	),
)
